*.pidb
configure
install-sh
aclocal.m4
config.status
config.log
autom4te.cache
missing
*Makefile
*Makefile.in
*.dll
*.exe
bin/
*.userprefs
tests/output
src/generator/generator
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.config
*.vcxproj
*.filters
*.sln
*.metagen
*.csproj
*.ilk
*.manifest
*.tmp
/build/vs2012
/build/vs2013
/build/vs2015
/build/gmake
/build/headers
/deps/llvm
/extra
/site
/wip