*.pidb
configure
install-sh
aclocal.m4
config.status
config.log
autom4te.cache
missing
*Makefile
*Makefile.in
*.exe
bin/
*.userprefs
tests/output
src/generator/generator
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.config
*.vcxproj
*.filters
*.sln
*.metagen
*.csproj
*.ilk
*.manifest
*.tmp
*.cache
*.force
*DesignTime*
*TemporaryGeneratedFile*
*FileListAbsolute*
/build/scripts/llvm**
/build/scripts/*.tar.gz
/build/scripts/.vagrant
/build/vs2012
/build/vs2013
/build/vs2015
/build/vs2017
/build/gmake
/build/headers
/build/netcore
/deps/llvm
/deps/NUnit*
/extra
/include/include
/include/libc
/include/libcxx
/include/libunwind
/include/linux
/site
/wip
/.vs
/.vscode

# Nuget: do not include produced packages
/build/nuget/*.nupkg
/build/nuget/tools/*

**/obj