<!-- The dllmap doesn't work (I think) because the assembly that actually has the DllImports is the one emitted by SRE -->
<configuration>
	<dllmap dll="QtCore4" os="osx" target="/Library/Frameworks/QtCore.framework/Versions/Current/QtCore" />
	<dllmap dll="QtGui4" os="osx" target="/Library/Frameworks/QtGui.framework/Versions/Current/QtGui" />
</configuration>
